.product-detail-container {
  color: #F5F5DC; /* Use beige text color */
}

.product-detail-image {
  border-radius: 8px;
  border: 1px solid #4a3a37;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-detail-name {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.product-detail-category {
  background-color: var(--brand-accent);
  color: #1c110f;
  padding: 2px 10px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  width: fit-content;
}

.product-detail-description {
  line-height: 1.8;
  font-size: 1.1rem;
}

.product-detail-price {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
}
